<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <property name="ROOT_PATH" value="${catalina.base}/logs" />

    <contextName>${APP_NAME}</contextName>

	<!-- 控制台输出日志 -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%-5level] [%-30logger{0}] - %msg%n</pattern>
			<charset>UTF-8</charset> 
		</encoder>
	</appender>

	<!-- 文件输出日志 -->
	<appender name="FILE_BY_SIZE" class="ch.qos.logback.core.rolling.RollingFileAppender">

		<file>${ROOT_PATH}/portal.slf4j.info.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${ROOT_PATH}/portal.slf4j.info.%i.log.zip</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>10</maxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>64MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%-5level] [%-30logger{0}] - %msg%n</Pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<!-- 文件输出日志（ERROR） -->
	<appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">

		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${ROOT_PATH}/portal.slf4j.error.%d{yyyy-MM-dd}.log</FileNamePattern>
			<MaxHistory>50</MaxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%-5level] [%-30logger{0}] - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<!-- TRACE, DEBUG, INFO, WARN, ERROR, ALL, OFF -->
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE_BY_SIZE" />
		<appender-ref ref="FILE_ERROR" />
	</root>
</configuration>
